.App {
  text-align: center;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: dodgerblue;
  color: white;
}

header {
  width: 100%;
  margin-bottom: 3%;
}

.randomize {
  font-size: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 .5rem 1rem black;
  color: white;
  background-color: navy;
}

section {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

footer {
  width:100%;
}
.NASAcard {
  border: 1px solid white;
  background-color: navy;
  padding: 1rem;
  border-radius: 1rem;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

img {
  width: 100%;
  border-radius: 1.5rem;
  border: 1px solid white;
}